      <!-- Navigation -->
      <div class="navbar-fixed">
         <nav class="nav-wrapper indigo darken-3">
            <div class="container">
               <a class="sidenav-trigger" href="#" data-target="menu-link">
               <i class="material-icons">menu</i>
               </a>
               <div class="brand-logo">
                  <a href="#">
                  RentoCar
                  </a>
               </div>
               <ul class="right hide-on-med-and-down">
                  <li>
                     <a href="#login" class="waves-effect waves-dark modal-trigger">Login</a>
                  </li>
                  <li>
                     <a href="#register" class="waves-effect waves-dark modal-trigger">Register</a>
                  </li>
                  <li>
                     <a href="#about" class="waves-effect waves-dark modal-trigger">About Us</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
      <!-- Side Navigation for mobile devices -->
      <ul class="sidenav" id="menu-link">
         <li>
            <a href="#login" class="waves-effect waves-dark modal-trigger">Login</a>
         </li>
         <li>
            <a href="#register" class="waves-effect waves-dark modal-trigger">Register</a>
         </li>
         <li>
            <a href="#about">About Us</a>
         </li>
      </ul>
