<div>
  <h5 align = "center"><b>Upcoming Booking</b></h5>
</div>

<div class="container">
    <div class="col s6 m6 l12">
      <div class="card horizontal">
        <ng-template [ngIf] = "tempstartTime > currentUnixTime" [ngIfElse] = "isLesser">
          <div class="card-image">
              
              <img [src]="carStatus.carId.imgPath" alt="No Image found" style="width : 250px; height : 250px">
              
              <div class="card-content">
                  <!-- <span class="card-title"> {{ carStatus.carId.carName }}</span> -->
                  <h5> {{ carStatus.carId.carName }} </h5>
                  <b>Type:  {{ carStatus.carId.carType }}</b><br>
                  <b>Cost:  {{ carStatus.carId.cost }}</b> <br>
                  <b>Mileage: {{ carStatus.carId.mileage }}</b>  <br>
                  <b>Seaters: {{ carStatus.carId.seaters }}</b> <br>
                  <b>Desciption:  {{ carStatus.carId.description }}</b>  <br> 
                </div>
            </div>
           
          <div class="card-stacked">
            <div class="card-content">
              <div class="row">
                
              </div>
              <div class="row center">
                 <i class="medium material-icons red-text">access_time</i>
                    <p> Start Time : <span> {{ userlog.startTime }}</span></p>
                    <p> Drop Time : <span> {{  userlog.endTime }} </span>

              </div>
              <div class="row center">
                 <i class="medium material-icons green-text">location_on</i>
                 <p> Origin location : <span> {{  userlog.currentLocation }}</span></p>
                 <p> Drop Location : <span> {{ userlog.dropLocation }}</span></p>
                
              </div>
              <div class="row center">
                <i class="small material-icons blue-text">account_balance_wallet</i>
                <p>Amount: <span>{{ userlog.totalAmount }}</span></p>
              </div>
            </div>
            <div class="row center">
              
            
              <button class="waves-effect waves-light btn red " (click) = "cancelBooking(userlog.userLogId)"> Cancel Booking</button>

            </div>
          </div>
          </ng-template>
          <ng-template #isLesser>
            <h5 class="red-text" align = "center"> No Upcoming Bookings Found....</h5>
          </ng-template>
        </div>
      </div>   
      </div>
     
