<!-- [Author : Vyshnavi] -->
<!-- 
<div align = "center">
    <h3><b>User History</b></h3>
</div> -->

<div ng-app="myApp" 
        ng-controller="myController">
        <h4 align = "center "><b>User History</b></h4>
        <table class = "responsive-table">
            <thead>
              <tr>
                  <th>User LogId</th>
                  <th>User Id</th>
                  <th>Start Location</th>
                  <th>Drop Location</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Secret Key</th>
                  <th>Total Amount</th>
              </tr>
            </thead>

              <tbody>
                  <ng-template [ngIf]="userlog != null" [ngIfElse]="isNull">
                    <tr *ngFor="let userHistory of userlog">
                      <td>{{  userHistory.userLogId }}</td>
                      <td>{{ userHistory.userId.userId }}</td>
                        <td>{{ userHistory.currentLocation }}</td>
                          <td>{{ userHistory.dropLocation }}</td>
                            <td>{{ userHistory.startTime }}</td>
                              <td>{{ userHistory.endTime }}</td>
                                <td>{{ userHistory.secretKey }}</td>
                                <td>{{ userHistory.totalAmount }}</td>
                                  <td><a class="waves-effect waves-light btn indigo modal-trigger darken-3" href="#modal1" >
                                      <i class="material-icons left">delete</i>Delete</a>
                                        
                                        <div id="modal1" class="modal small">
                                          <div class="modal-content small">
                                            <h5><b>Delete History</b></h5>
                                            <p>Are you sure want to delete this row</p>
                                          </div>
                                          <div class="modal-footer">
                                              <a class=" modal-action modal-close waves-effect waves-indigo btn-flat">No</a>
                                            <a class=" modal-action modal-close waves-effect waves-indigo btn-flat" ng-click="onDelete()">Yes</a>
                                          </div>
                                        </div>
        
                                  </td>
                    </tr>
                  </ng-template>  
                
                  <ng-template #isNull> 
                        <p>You do not have any bookings. Keep on Booking! :)</p>
                  </ng-template>  
            </tbody>
        </table>
</div>
