<!-- [Author : Vyshnavi] -->

<div class="container">
    <div ng-app="myApp" 
        ng-controller="myController">
        <h4 align = "center "><b>User History</b></h4>
        <table class = "responsive-table">
            <thead>
              <tr>
                  <th>User Id</th>
                  <th>Start Location</th>
                  <th>Drop Location</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Secret Key</th>
                  <th>Total Amount</th>
              </tr>
            </thead>

              <tbody>
                  <ng-template [ngIf]="userlog != null" [ngIfElse]="isNull">
                    <tr *ngFor="let userHistory of userlog">
                      <td>{{ userHistory.userLogId }}</td>
                        <td>{{ userHistory.currentLocation }}</td>
                          <td>{{ userHistory.dropLocation }}</td>
                            <td>{{ userHistory.startTime }}</td>
                              <td>{{ userHistory.endTime }}</td>
                                <td>{{ userHistory.secretKey }}</td>
                                  <td>{{ userHistory.totalAmount }}</td>
                                    <!-- <td>       
                                      <a class="waves-effect waves-light btn-floating red modal-trigger" (click)="onDelete(userHistory.userLogId)">
                                      <i class="material-icons left">delete</i></a>
                                    </td> -->
                    </tr>
                  </ng-template>  
                
                  <ng-template #isNull> 
                        <p>You do not have any bookings. Keep on Booking! :)</p>
                  </ng-template>  
            </tbody>
        </table>
    </div>
</div>    
