<!-- NEW CONTACT US -->
<div class="col s12 m8">
    <div class="container">
        <form action="action_page.php">
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="city">City</label>
          <select id="city" name="city">
            <option value="bangalore">Bangalore</option>
            <option value="mumbai">Mumbai</option>
            <option value="delhi">Delhi</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <!-- <input type="submit" value="Submit"> -->
    <div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
          </button>
        </div>
      
        </form>
      </div> 
    </div>
    
    <div id="googleMap" style="width:100%;height:400px;"></div>
    <!-- <div #gmap style="width:100%;height:400px"></div> -->
    