<h4 style="margin-left:10%;">ABOUT US</h4>
<hr style="width:11%;margin-left:10%;">
<br>

<div class="row" style="margin-left:10%;">
<div class="col s12 l4">
<div class="row">
<div class="col s12 m12 l12">
<h6 class=" grey-text ">OUR HISTORY</h6>
</div>
<div class="col s12 m12 l12">
We are RentOCar Started in year 2019.We Started as a small start up,but grown to a billion dollor company in just 6 months.
</div>
</div>
</div>

<div class="container">


<div class="col s12 l4">
<div class="row">
<div class="col s12 m12 l12">
<h6 class=" grey-text ">WHAT WE DO</h6>
</div>
<div class="col s12 m12 l12">
We are RentOCar Started in year 2019.We Started as a small start up,but grown to a billion dollor company in just 6 months.
</div>
</div>
</div>

<div class="col s12 l4">
<div class="row">
<div class="col s12 m12 l12">
<h6 class=" grey-text ">WHY CHOOSE US</h6>
</div>
<div class="col s12 m12 l12">
We are RentOCar Started in year 2019.We Started as a small start up,but grown to a billion dollor company in just 6 months.
</div>
</div>
</div>

<h3 class=" grey-text " style="margin-left:25%;">MEET THE TEAM</h3>

<div class="row">
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/akash.jpg">

	        </div>
	        <div class="card-content">
	          <h5>Akash</h5><p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>

	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/vyashnavi.jpg">

	        </div>
	        <div class="card-content">
	         <h5>Vyashnavi</h5><p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>

	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/bhavana.jpg">

	        </div>
	        <div class="card-content">
	          <h5>V Bhavana</h5><p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>

	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/dheeraj.jpg">

	        </div>
	        <div class="card-content">
	          <h5>Dheeraj</h5><p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/alok.jpg">

	        </div>
	        <div class="card-content">
	         <h5>Alok</h5> <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>

	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="images/sample-1.jpg">

	        </div>
	        <div class="card-content">
	         <h5>Prafulla</h5> <p>I am a very simple card. I am good at containing small bits of information.
	          I am convenient because I require little markup to use effectively.</p>
	        </div>
	      </div>
	    </div>
	  </div>

</div>
</div>

</div>
</div>
