<div>
  <div class="row">
       <div class="input-field col6 m12">
<div class="card-panel teal lighten-2">
    <span class="card-title" style="font-family:oblique align:center"><h4>ABOUT RENTOCAR</h4></span>
  <p>
    The invention of the motor car can be termed as a quantum leap at the peak of the European Industrial Revolution. 
    However, since the days of Karl Benz, little has been done to disrupt the way cars are bought. 
    We at Drivezy are on a mission to transform the way cars/bikes are purchased, rented and sold. 
    The concept of car rentals is yet to spread its wings in India. 
    As pioneers in the Indian self drive car rental industry, 
    we believe in the mantra- “Why buy a vehicle, when you can rent one?”<br>

    <span class="card-title"><b>WHY WE DO IT?</b></span><br>
  Transport is the backbone of any modern economy. 
  However, rapid motorisation effectuates its own set of issues. 
  While on one hand the burgeoning number of vehicles on road has become a menace in metros across India, 
  a number of cities suffer from lack of good urban commuting solutions. 
  The concept of car rentals may be simple, but it holds immense potential. 
  Be it the positive impact of rental vehicles on the environment or reducing the number of vehicles out on the streets, 
  the shared economy of self drive car rentals is a promising solution to a number of problems plaguing urban India.<br>

  <span class="card-title"><b>HOW WE DO IT?</b></span><br>
   Even the most complex of problems has a simple yet elegant solution. At RENTOCAR we don’t just rent vehicles, we create products which complete the existing ecosystem. We build technology which provides a comprehensive solution to the issue of urban commute by connecting commuters to vendors in the self drive car rental business. Our vision at Drivezy is to provide a platform where vehicle owners can engage customers and conduct business seamlessly. We concentrate our efforts on simplifying the process of hiring vehicle by creating scalable mechanisms to conduct and facilitate transactions while proving an economical mode of transport to all.
   Rentocar is a self-drive car rental company headquartered in Bangalore, India.
   The company was founded in 2018 by IBMers.
   As of Decembaer, the company will operate in 45 cities across the country.
   Rentocar provides user friendly services and it's main focus is client.
   Rentocar provides the various services along with renting the cars on hours basis.
   Rentocar provides flexi pricing packages:
   One size never fits all..Choose a balance of time and kilometers that works best for you.
   No hidden charges:
   Our prices include taxes and insurance. What you see is really what you pay.

   
  </p> 
  </div>


</div>
</div>
</div>

<div class="row">
  <div class="card blue-grey darken-1">
  <div class="card-content white-text">
      <div align="center">
    <h4>RENTOCAR TEAM</h4>
      </div>
</div>
</div>
</div>
        <!-- CONTACT US -->
        <div class="row">
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <img src="/assets/images/ppt.jpg" style="align-right" height="82" width="82">
                  <span class="card-title">Chief Marketing Officer</span>
                  <!-- <span>
                    <img src="profile.jpg" alt="Prafulla" height="42" width="42"> 
                  </span>  -->
                  <p>
                    Name:Prafulla Kumar Tripathi<br>
                    Email:prafullatripathi26@gmail.com<br>
                    Phone:+91 8130934633
                  </p>        
                </div>                 
              </div>
            </div>
        
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <img src="/assets/images/minion2.png" style="align-right" height="82" width="82">
                  <span class="card-title">Co-Founder & Chief Executive Officer</span>
                  <p>
                    Name:Akash Chandra<br>
                    Email:akashchandra111@gmail.com<br>
                    Phone:+91 8822334455
                  </p>
                </div>                  
              </div>
            </div>
        
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <img src="/assets/images/minion2.png" style="align-right" height="82" width="82">
                  <span class="card-title">Vice President & Commercial Head</span>
                  <p>
                    Name:Dheeraj Joshi<br>
                    Email:Djoshi@gmail.com<br>
                    Phone:+91 8920600855
                  </p>
                </div>                 
              </div>
            </div>
        
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <img src="/assets/images/minion2.png" style="align-right" height="82" width="82">
                  <span class="card-title">Chief Operating Officer</span>
                  <p>
                    Name:Alok Khare<br>
                    Email:alokkhare2020@gmail.com<br>
                    Phone:+91 8955600820  
                  </p>
                </div>                  
              </div>
            </div>
        
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <img src="/assets/images/minion2.png" style="align-right" height="82" width="82">
                  <span class="card-title">General Counsel & VP Corporate Affairs</span>
                  <p>
                    Name:Vaishnavi<br>
                    Email:vnavi12@gmail.com<br>
                    Phone:+91 8889556008
                  </p>
                </div>                  
              </div>
            </div>
        
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">            
                    <img src="/assets/images/minion2.png" style="align-right" height="82" width="82">
                  <span class="card-title">Co-Founder & Chief Executive Officer</span>
                  <p>
                    Name:Bhavana<br>
                    Email:bhavana1717@gmail.com<br>
                    Phone:+91 9877227733
                  </p>
                </div>                  
              </div>
            </div>