<h4 style="margin-left:10%;">ABOUT US</h4>
<hr style="width:11%;margin-left:10%;">
<br>

<div class="row" style="margin-left:10%;">
<div class="col s12 l4">
<div class="row">
<div class="col s12 m12 l12">
<h6 class=" grey-text ">OUR HISTORY</h6>
</div>
<div class="col s12 m12 l12">
We are RentOCar Started in year 2019.We Started as a small start up,but grown to a billion dollor company in just 6 months.
</div>
</div>
</div>

<div class="container">


<div class="col s12 l4">
<div class="row">
<div class="col s12 m12 l12">
<h6 class=" grey-text ">WHAT WE DO</h6>
</div>
<div class="col s12 m12 l12">
We are RentOCar Started in year 2019.We Started as a small start up,but grown to a billion dollor company in just 6 months.
</div>
</div>
</div>

<div class="col s12 l4">
<div class="row">
<div class="col s12 m12 l12">
<h6 class=" grey-text ">WHY CHOOSE US</h6>
</div>
<div class="col s12 m12 l12">
We are RentOCar Started in year 2019.We Started as a small start up,but grown to a billion dollor company in just 6 months.
</div>
</div>
</div>

<h3 class=" grey-text " style="margin-left:25%;">MEET THE TEAM</h3>

<div class="row">
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/akash.jpg">

	        </div>
	        <div class="card-content">
	          <h5>Akash</h5><p>I am a FullStack Devloper.You can find me reading technical stuff when I am not working.I am the team lead for RentoCar.s
	          </p>
	        </div>

	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/vyashnavi.jpg">

	        </div>
	        <div class="card-content">
	         <h5>Vyashnavi</h5><p>I am the part of RentoCar team.I am good in designing. I am interested in learning new things that helped me in doing this project.</p>
	        </div>

	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/bhavana.jpg">

	        </div>
	        <div class="card-content">
	          <h5>V Bhavana</h5><p>Trainee in Full Stack Developer with IBM since three months.Engaged in designing the page of Rento Car Application.</p>
	        </div>

	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/dheeraj.jpg">

	        </div>
	        <div class="card-content">
	          <h5>Dheeraj</h5><p>Working as a FullStack Devloper.Watch me on the football field when not working.</p>
	        </div>
	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/alok.jpg">

	        </div>
	        <div class="card-content">
	         <h5>Alok</h5> <p>i am front end developer.I am hard working.i like doing testing and validations.I am enthusiastic about technology and innovations.</p>
	        </div>

	      </div>
	    </div>
	  </div>

</div>
<div class="col s12 m6 l4">
	<div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="/assets/images/prafulla.jpg">

	        </div>
	        <div class="card-content">
	         <h5>Prafulla</h5> <p>Trainee in Full Stack Developer with IBM since three months.Engaged in designing the page of Rento Car Application. Completed my B.tech from JSSATEN in computer science and engineering.</p>
	        </div>
	      </div>
	    </div>
	  </div>

</div>
</div>

</div>
</div>
