<!-- [Author: Akash Chandra] -->
   
      <!-- Slider to show car types -->
      <div style="margin-top: 10px; padding-left: 10px; padding-right: 10px;">
         <div class="slider">
            <ul class="slides">
               <li>
                  <img src="assets/images/mini_car.jpg">
                  <div class="caption center-align">
                     <h3>Mini Cars</h3>
                     <h5 class="light grey-text text-lighten-3">Cheap and affordable</h5>
                  </div>
               </li>
               <li>
                  <img src="assets/images/micro_car.jpg">
                  <div class="caption left-align">
                     <h3>Micro Cars</h3>
                     <h5 class="light grey-text text-lighten-3">Cheap, affordable and space you can get</h5>
                  </div>
               </li>
               <li>
                  <img src="assets/images/deluxe_car.jpg">
                  <div class="caption right-align">
                     <h3>Deluxe Cars</h3>
                     <h5 class="light grey-text text-lighten-3">Expensive but comfortable</h5>
                  </div>
               </li>
               <li>
                  <img src="assets/images/suv_car.jpg">
                  <div class="caption center-align">
                     <h3>SUV Cars</h3>
                     <h5 class="light grey-text text-lighten-3">Faster, expensive ,comfortable and for those who care for looks</h5>
                  </div>
               </li>
            </ul>
         </div>
      </div>
      <!-- Login modal -->
      <div class="modal one" id="login">
         <form class="form" action="login" method="post">
            <div class="modal-content">
               <div class="">
                  <h4>Login</h4>
               </div>
               <div class="input-field">
                  <input type="text" name="username" id="username" class="validate">
                  <label for="username">Username/ Email/ Phone</label>
               </div>
               <div class="input-field">
                  <input type="password" name="password" id="password" class="validate">
                  <label for="password">Password</label>
               </div>
               <div id="logindiv" style="color:red;display:none">
               Login Failed
               </div>
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn indigo darken-1 grey-text text-lighten-2 waves-effect waves-dark modal-close" id="loginbutton" name="submit">
               Login
               <i class="material-icons right">send</i>
               </button>
            </div>
         </form>
      </div>
      <!-- Register modal -->
      <div class="modal" id="register">
         <form class="form" action="register" method="post">
            <div class="modal-content">
               <div class="">
                  <h4>Register with Us</h4>
               </div>
               <div class="input-field">
                  <input type="text" name="firstname" id="firstname" class="validate">
                  <label for="firstname">First name</label>
               </div>
               <div class="input-field">
                  <input type="text" name="lastname" id="lastname" class="validate">
                  <label for="lastname">Last name</label>
               </div>
               <div class="input-field">
                  <input type="text" name="mobileno" id="mobileno" class="validate">
                  <label for="mobileno">Mobile number</label>
               </div>
               <div class="row">
                  <div class="input-field col s4">
                     <select class="input-field" name="idtype">
                        <option value="" selected disabled>Verify with</option>
                        <option value="aadhar">Aadhar</option>
                        <option value="pan">PAN</option>
                        <option value="passport">Passport</option>
                     </select>
                  </div>
                  <div class="input-field col s8">
                     <input type="text" name="verification_id" id="verification_id" class="validate">
                     <label for="verification_id">UID number</label>
                  </div>
               </div>
               <div class="input-field">
                  <input type="text" name="driving_id" id="driving_id" class="validate">
                  <label for="username">Driving License Number</label>
               </div>
               <div class="input-field">
                  <input type="text" name="username" id="username" class="validate">
                  <label for="username">Username</label>
               </div>
               <div class="input-field">
                  <input type="text" name="email" id="email" class="validate">
                  <label for="username">Email</label>
               </div>
               <div class="input-field">
                  <input type="password" name="password" id="password" class="validate">
                  <label for="password">Password</label>
               </div>
               <div class="input-field">
                  <input type="password" name="cpassword" id="cpassword" class="validate">
                  <label for="cpassword">Confirm Password</label>
               </div>
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn indigo darken-1 grey-text text-lighten-2 waves-effect waves-dark modal-close" name="submit">
               Register
               <i class="material-icons right">send</i>
               </button>
            </div>
         </form>
      </div>
      <!-- Cards [Author: Dheeraj Joshi]-->
      <div class="row">
         <div class="col s12 m6 l3">
            <div class="card amber lighten-5 z-depth-3 card-style">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/images/mini_car.jpg">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Mini Cars<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">See all Mini cars</a></p>
               </div>
               <div class="card-reveal indigo lighten-3">
                  <span class="card-title grey-text text-darken-4">Mini Cars<i class="material-icons right">close</i></span>
                  <p>Affordable, distance and power in a mini package. Good for long distance travel purposes.</p>
               </div>
            </div>
         </div>
         <div class="col s12 m6 l3">
            <div class="card amber lighten-5 z-depth-3">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/images/micro_car.jpg">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Micro Cars<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">See all Micro cars</a></p>
               </div>
               <div class="card-reveal indigo lighten-3">
                  <span class="card-title grey-text text-darken-4">Micro Cars<i class="material-icons right">close</i></span>
                  <p>Affordable, distance with more power and more seats. Good for long distance travel purpose and extra comfortable.</p>
               </div>
            </div>
         </div>
         <div class="col s12 m6 l3">
            <div class="card amber lighten-5 z-depth-3">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/images/deluxe_car.jpg">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Deluxe Cars<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">See all Deluxe cars</a></p>
               </div>
               <div class="card-reveal indigo lighten-3">
                  <span class="card-title grey-text text-darken-4">Deluxe Cars<i class="material-icons right">close</i></span>
                  <p>Expensive, classy cars for those who prefer on looks. Good for short distance rides.</p>
               </div>
            </div>
         </div>
         <div class="col s12 m6 l3">
            <div class="card amber lighten-5 z-depth-3">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/images/suv_car.jpg">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">SUV Cars<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">See all SUV cars</a></p>
               </div>
               <div class="card-reveal indigo lighten-3">
                  <span class="card-title grey-text text-darken-4">SUV Cars<i class="material-icons right">close</i></span>
                  <p>For those who likes to ride power. When you need space, power and comfort at one place.</p>
               </div>
            </div>
         </div>
      </div>








      <div class="navbar-fixed">
            <nav class="nav-wrapper indigo darken-3">
              <div class="container">
                <a class="sidenav-trigger" href="#" data-target="menu-link"> <i
                  class="material-icons">menu</i>
                </a>
                <div class="brand-logo">
                  <a href="#"> RentoCar </a>
                </div>
                <ul class="right hide-on-med-and-down">
                  <li><a href="#modalwallet"
                    class="waves-effect waves-light modal-trigger">Wallet</a></li>
                  <li><a href="#booking"
                    class="waves-effect waves-dark dropdown-trigger"
                    data-target="booking_dropdown">Booking</a></li>
                  <!-- Booking Dropdown -->
                  <ul id="booking_dropdown" class="dropdown-content">
                    <li><a href="ChooseCar.jsp" class="indigo-text">Rent a car</a></li>
          <!-- 						<li><a href="CurrentBooking.jsp" class="indigo-text">Current -->
          <!-- 								Booking</a></li> -->
                    <li><a href="History.jsp" class="indigo-text">History</a></li>
                  </ul>
                  <li><a href="#username"
                    class="waves-effect waves-dark dropdown-trigger"
                    data-target="account_dropdown"> <i class="material-icons">person_outline</i>
                  </a></li>
                  <!-- Account Dropdown -->
                  <ul id="account_dropdown" class="dropdown-content">
                    <li><a class="indigo-text">Hi {{ userFirstName }}</a></li>
                    <li><a href="user_profile" class="indigo-text">Profile</a></li>
                    <li><a href="logout" class="indigo-text">Logout</a></li>
                  </ul>
                </ul>
              </div>
            </nav>
          </div>
          
          <!-- Side Navigation for mobile devices -->
          <ul class="sidenav" id="menu-link">
            <li>
              <div class="user-view">
                <div class="background indigo accent-4"></div>
                <a href="#user"> <img src="assets/images/user_profile.png"
                  class="circle">
                </a> <a href="#name"><span class="name white-text">{{ userFirstName }}</span></a>
                <a href="#email"><span class="email white-text">{{ userEmail }}</span></a>
              </div>
            </li>
            <li><a href="#modalwallet"
              class="waves-effect waves-light modal-trigger">Wallet</a></li>
            <li>
              <ul class="collapsible" id="collapsibleBooking"
                style="margin-left: 5%;">
                <li>
                  <div class="collapsible-header">Booking</div>
                  <div class="collapsible-body">
                    <a href="ChooseCar.jsp"
                      class="waves-effect waves-light modal-trigger"
                      style="margin-left: 5%;">Rent a Car</a>
                  </div>
          <!-- 					<div class="collapsible-body"> -->
          <!-- 						<a href="CurrentBooking.jsp" -->
          <!-- 							class="waves-effect waves-light modal-trigger" -->
          <!-- 							style="margin-left: 5%;">Current Booking</a> -->
          <!-- 					</div> -->
                  <div class="collapsible-body">
                    <a href="History.jsp"
                      class="waves-effect waves-light modal-trigger"
                      style="margin-left: 5%;">History</a>
                  </div>
                </li>
                <!--             <a href="#booking" class="waves-effect waves-dark"></a> -->
              </ul>
            </li>
            <li>
              <ul class="collapsible" id="collapsibleAccount"
                style="margin-left: 5%;">
                <li>
                  <div class="collapsible-header">Account</div>
                  <div class="collapsible-body">
                    <a href="user_profile" class="waves-effect "
                      style="margin-left: 5%;">Profile</a>
                  </div>
                  <div class="collapsible-body">
                    <a href="logout" class="waves-effect " style="margin-left: 5%;">Logout</a>
                  </div> <!-- 					  <li><a href="logout" class="indigo-text">Logout</a></li> -->
                </li>
              </ul>
            </li>
          </ul>
          
          
          
          <!-- Card Panel [Author: Akash Chandra]-->
          <div class="row">
            <div class="col s12 m6 l3">
              <div class="card-panel blue darken-3 z-depth-2">
                <div class="row">
                  <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2"
                      style="margin-top: 30%">account_balance_wallet</i>
                  </div>
                  <div class="col s9">
                    <div class="card-content white-text">
                      <h4>Wallet</h4>
                      <!-- <%
                        if (Integer.parseInt(userWallet) >= 1000) {
                      %> -->
                      <p>
                        You have <b>{{ userWallet }} Rs</b> remaining in your wallet
                        balance
                      </p>
                      <!-- <%
                        } else {
                      %>
                      <p>
                        You have <b>{{ userWallet }} Rs</b> remaining, please recharge
                        your account
                      </p>
                      <%
                        }
                      %> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="card-panel card-style blue darken-3 z-depth-3">
                <div class="row">
                  <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2"
                      style="margin-top: 30%">bookmark</i>
                  </div>
                  <div class="col s9">
                    <div class="card-content white-text">
                      <h4>Recent Booking</h4>
                      <!-- <%
                        if (userLog.isUserIdPresent(id)  ) {
                      %> -->
                      <p>
                        Pick up your car from <b>{{ carPickupLocation }}</b> at <b>{{ carPickupTime }}</b>
                        Use this secret key: <b>{{ carSecretKey }}</b>
                      </p>
                      <!-- <%
                        } else {
                      %>
                      <p>No current booking</p>
                      <%
                        }
                      %> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="card-panel card-style blue darken-3 z-depth-3">
                <div class="row">
                  <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2"
                      style="margin-top: 30%">local_offer</i>
                  </div>
                  <div class="col s9">
                    <div class="card-content white-text">
                      <h4>Offer</h4>
                      <p>
                        Refer a friend to get <b>70% off</b> on a booking <b>use
                          GET70OFF</b>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="card-panel blue darken-3 z-depth-3">
                <div class="row">
                  <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2"
                      style="margin-top: 30%">people</i>
                  </div>
                  <div class="col s9">
                    <div class="card-content white-text">
                      <h4>Refer</h4>
                      <p>
                        Refer your friend to get <b>70%</b> discount
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Modal Structure  [Author: Dheeeraj Joshi]-->
            <div id="modalwallet" class="modal">
              <form class="form" action="addwallet" method="post">
                <div class="row container" style="margin-top: 2%;">
                  <div class="col s12">
                    <div class="modal-content">
                      <h4>Add Money</h4>
                    </div>
                  </div>
                </div>
                <div class="row container">
                  <div class="col s6 l8">
                    <div class="input-field ">
          
                      <input id="amount" name="amount" type="text" class="validate">
                      <label for="money">Enter Amount </label>
                    </div>
                  </div>
                  <div class="col s6 l4">
                    <div class="modal-footer">
          
                      <button type="submit"
                        class="modal-close waves-effect waves-indigo btn left indigo "
                        onclick="M.toast({html: 'Money added!'})"
                        style="margin-left: 2%;">Add Money</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
      
      
          <app-userpage></app-userpage>         