<div>
  <h3 align = "center" class="indigo-text darken-3" >Booking Wallet</h3>
</div>

  <!-- Form for credit or debit card opens here -->
<div class="container" >
    <div class="card">
       <div class="row">
          <form class="col s12 ">
             <div class="container">
                <h4 class="indigo-text">Credit or Debit Card</h4>
                <div class="row">
                   <div class="col s12">
                    <div class="row">
                      <div class="col s12 input-field">
                        <i class="material-icons prefix">account_box</i>
                        <input  type="text" id="accountNo" class="validate" [(ngModel)]="accountNum" #accountNumber= ngModel pattern="[0-9]{12}"  name="accountNo" required>
                        <label for="accountNo">Enter Account Number</label>
                      </div>
                      <div *ngIf ="accountNumber?.touched">
                          <div *ngIf = "accountNumber.errors?.required">
                            <span class="red-text">Account Number is required </span>
                          </div>
                          <div *ngIf = "accountNumber.errors?.pattern">
                            <span class="red-text">Account Number should contain 12 digits</span>
                           </div>
                      </div>                          
                    </div>
                    <div class="row">
                      <div class="col s12 input-field">
                          <i class="material-icons prefix">contacts</i>
                          <input  type="text" id="accountName" class="validate" [(ngModel)]="accountname" #accountName= ngModel pattern="[(a-z)(A-Z)]{2,15}"  name="accountName" required>
                          <label for="accountName">Account Name</label>
                      </div>
                      <div *ngIf ="accountName?.touched">
                          <div *ngIf = "accountName.errors?.required">
                            <span class="red-text">Account Name is required </span>
                          </div>
                          <div *ngIf = "accountName.errors?.pattern">
                            <span class="red-text">Account Name should contain only alphabets</span>
                           </div>
                      </div>  
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <i class="material-icons prefix">branding_watermark</i>
                            <input  type="text" id="cvv" class="validate" [(ngModel)]="cVV" #cvv= ngModel pattern="[0-9]{3}"  name="cvv" required>
                            <label for="cvv">CVV</label>
                        </div>
                        <div *ngIf ="cvv?.touched">
                            <div *ngIf = "cvv.errors?.required">
                              <span class="red-text">CVV is required </span>
                            </div>
                            <div *ngIf = "cvv.errors?.pattern">
                              <span class="red-text">CVV should contain only 3 digits</span>
                             </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <i class="material-icons prefix">account_balance_wallet</i>
                            <input  type="number" id="money" class="validate" [(ngModel)]="moneyCard" #money= ngModel pattern="[0-9]{1,5}"  name="money" required>
                            <label for="money">Enter amount to be added</label>
                        </div>
                        <div *ngIf ="money?.touched">
                            <div *ngIf = "money.errors?.required">
                              <span class="red-text">Money is required </span>
                            </div>
                            <div *ngIf = "money.errors?.pattern">
                              <span class="red-text">Money should contain only  digits</span>
                             </div>
                        </div>  
                    </div>
                    <div class="row">
                        <button type="submit" class="btn indigo darken-1 grey-text text-lighten-2 waves-effect waves-dark modal-close " id="registerclicked" name="submit" [disabled] = "accountNumber.errors || accountName.errors || cvv.errors || money.errors" (click)="addMoney()">Add Money</button> {{ toastMessage }}                  
                    </div>
                   </div>
                </div>
             </div>
          </form>
       </div>
    </div>
 </div>

 <div class="container" >
    <div class="card">
       <div class="row">
          <form class="col s12 ">
             <div class="container">
                <h4 class="indigo-text">NetBanking</h4>
                <div class="row">
                   <div class="col s12">
                    <div class="row">
                      <div class="col s12 input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input  type="text" id="userId" class="validate" [(ngModel)]="userid" #userId= ngModel pattern="[0-9]{2,15}" name="userId" required>
                        <label for="userId">Enter User Id</label>
                      </div>
                      <div *ngIf ="userId?.touched">
                          <div *ngIf = "userId.errors?.required">
                            <span class="red-text">UserId required </span>
                          </div>
                          <div *ngIf = "userId.errors?.pattern">
                            <span class="red-text">UserId should contain only digits</span>
                           </div>
                      </div>  
                    </div>
                    <div class="row">
                      <div class="col s12 input-field">
                          <i class="material-icons prefix">security</i>
                          <input  type="text" id="passWord" class="validate" [(ngModel)]="password" #passWord= ngModel pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="passWord">
                          <label for="passWord">Enter Password</label>
                      </div>
                      <div *ngIf ="passWord?.touched">
                          <div *ngIf = "passWord.errors?.required">
                            <span class="red-text">Password is required </span>
                          </div>
                          <div *ngIf = "passWord.errors?.pattern">
                            <span class="red-text">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</span>
                           </div>
                      </div>  
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <i class="material-icons prefix">account_balance_wallet</i>
                            <input  type="number" id="money" class="validate" [(ngModel)]="moneyNet" #moneywallet= ngModel pattern="[0-9]{1,5}"  name="money" required>
                            <label for="money">Enter amount to be added</label>
                        </div>
                        <div *ngIf ="moneywallet?.touched">
                            <div *ngIf = "moneywallet.errors?.required">
                              <span class="red-text">Money is required </span>
                            </div>
                            <div *ngIf = "moneywallet.errors?.pattern">
                              <span class="red-text">Money should contain only  digits</span>
                             </div>
                        </div>  
                    </div>
                    <div class="row">
                        <button type="submit" class="btn indigo darken-1 grey-text text-lighten-2 waves-effect waves-dark modal-close " id="registerclicked" name="submit" [disabled] = "userId.errors || passWord.errors || moneywallet.errors" (click)="addMoneyNet()">Add Money</button>{{ toastMessage }}                    
                    </div>
                   </div>
                </div>
             </div>
          </form>
       </div>
    </div>
 </div>

