
<!-- Card Panel [Author: Akash Chandra]-->
<div class="container">
<div class="row">

    <div class="col s12 ">
        <div class="card-panel card-style red z-depth-3">
          <div class="row">
            <div class="col s9">
              <div class="card-content white-text">
                <h4><i class="small material-icons white-text lighten-4">book</i>  Upcoming Bookings</h4> 
                <ng-template [ngIf]="tempStartTime > currentUnixTime" [ngIfElse]="isLesser">
                  <p>
                    Pick up your car with Car No : <b> {{ latestHistory.carNo }}</b> from <b>{{ latestHistory.currentLocation }}</b> to <b>{{ latestHistory.dropLocation }}</b> at <b>{{ latestHistory.startTime }}</b>
                    Use this secret key: <b>{{ latestHistory.secretKey }}</b><br><br>  
                    <a class = "btn waves-effect waves-light white red-text darken-3" id="bookedcar" name="bookedcar" (click) = "bookedCar()"><b>For More Details >></b></a>
                  </p>
                </ng-template>
                
                <ng-template #isLesser> 
                  <p>No Upcoming Bookings</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div class="col s12"> 
    <div class="card-panel card-style blue darken-3 z-depth-3">
      <div class="row">
        <div class="col s9">
          <div class="card-content white-text">
            <h4><i class="small material-icons white-text lighten-4">account_balance_wallet</i>   Wallet</h4>

            <ng-template [ngIf]="user.wallet >= 1000" [ngIfElse]="isLessthan">
              <p>
                You have <b>{{ user.wallet }} Rs</b> remaining in your wallet
                balance
              </p>
            </ng-template>
            
            <ng-template #isLessthan>
              <p>
                You have <b>{{ user.wallet }} Rs</b> remaining, please recharge
                your account
              </p>
            </ng-template>
            
          </div>
        </div>
      </div>
      </div>
  </div>
  
  <div class="row">
      <div class="col s12 "> 
        <div class="card-panel card-style yellow darken-3 z-depth-3">
          <div class="row">
            <div class="col s9">
              <div class="card-content white-text">
                <h4><i class="small material-icons white-text lighten-4">live_help</i>  Post Your Query</h4>
                  <p>
                   Have any query? 
                  <a href="#query" class="waves-effect waves-dark white-text modal-trigger"><h6><b><u>Click To Post</u></b></h6></a>
                  </p>
                
              </div>
            </div>
          </div>
        </div>
      </div> 
  </div>         

  <div class="col s12">
    <div class="card-panel green darken-3 z-depth-3">
      <div class="row">
        <div class="col s9">
          <div class="card-content white-text">
            <h4><i class="small material-icons white-text lighten-4">history</i>  History</h4>
            <ng-template [ngIf]="userlog != 0" [ngIfElse]="isNull">
            <p *ngFor="let userHistory of userlog">
              You have booked a car with Car No : <b>{{ userHistory.carNo }}</b> from <b>{{ userHistory.currentLocation }}</b> to <b>{{ userHistory.dropLocation }}</b> at <b>{{ userHistory.startTime }}</b>
              secret key: <b>{{ userHistory.secretKey }}</b> 
            </p>
            </ng-template>
            <ng-template #isNull> 
              <p>You do not have any bookings. Keep on Booking! :)</p>
            </ng-template>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  

<!-- Modal for query -->
<div class="modal" id="query">
    <form class="form" action="postQuery" method="post">
      <div class="modal-content">
          <div class="">
             <h4>Post Your Query</h4>
          </div>
          <div class="input-field">
              <span for="email">Email : {{ user.email }}</span>
          </div>
          <div class="input-field">
             <input type="text" [(ngModel)]="subject" id="subject" name="subject" class="validate" required>
             <label for="subject">Subject</label>
          </div>
          <div class="input-field">
              <input type="text" [(ngModel)]="text" id="text" name="text" class="validate" required>
              <label for="text">Your Query</label>
          </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn indigo darken-1 grey-text text-lighten-2 waves-effect waves-dark modal-close" id="postquery" name="submit" (click)="postQuery()">
          Post
          <i class="material-icons right">send</i>
          </button>
       </div>
    </form>
</div>

<!-- Button to go for choose car -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large pulse green darken-3 tooltipped" data-position="left" data-tooltip="Book your car" id="postquery" name="submit" (click)="bookingPage()">
    <i class="large material-icons">time_to_leave</i></a>
    <!-- <a class="btn tooltipped" data-position="bottom" data-tooltip="I am a tooltip">Hover me!</a> -->

</div>

<!-- Modal for delete -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Delete Upcoming History</h5>
      <p>Are you sure want to delete</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
      