
<div class="row">
  <div class="col s12">
     <ul class="tabs blue accent-1">
        <li class="tab col s3 l6"><a class="active black-text" href="#test2">CAR ACTION</a></li>
        <li class="tab col s3 l6"><a href="#test3"class="black-text" >Statistics</a></li>

     </ul>
  </div>
  <!-- First Tab content -->
  <div id="test2" class="col s12">
     <!-- Card Panel [Author: Akash Chandra]-->
     <div class="row">
        <div class="col s12 m6 l4">
           <div class="card-panel blue darken-3 z-depth-2 addcard">
              <div class="row">
                 <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2" style="margin-top: 30%">add_box</i>
                 </div>
                 <div class="col s9">
                    <div class="card-content white-text">
                       <h4>Add Car</h4>
                       <p>There are currently <b>1004</b>Cars we have </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col s12 m6 l4">
           <div class="card-panel blue darken-3 z-depth-3 updatecard">
              <div class="row">
                 <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2" style="margin-top: 30%">edit</i>
                 </div>
                 <div class="col s9">
                    <div class="card-content white-text">
                       <h4>Update Car</h4>
                       <p>At the moment <b>5000</b> had rented our Car </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col s12 m6 l4">
           <div class="card-panel blue darken-3 z-depth-3 deletecard">
              <div class="row">
                 <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2" style="margin-top: 30%">delete</i>
                 </div>
                 <div class="col s9">
                    <div class="card-content white-text">
                       <h4>Delete Car</h4>
                       <p>There are currently {{me}} <b>4000</b>  </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- ADD CAr Form  Author Dheeraj Joshi-->
     <div class="container addcarform " >
        <div class="card">
           <div class="row">
              <form class="col s12 ">
                 <div class="container">
                    <h3 class="indigo-text">ADD Car</h3>
                    <div class="row">
                       <div class="col s12">
						   <div class="row">
						      <div class="col s12 input-field">
						   	  <i class="material-icons prefix">mode_edit</i>
						   	  <input  type="text" id="car_id" class="validate" name="carid" [(ngModel)]="carId" >
						   	  <label for="car_id">Car Id</label>
						      </div>
						   </div>



                          <div class="row">
                             <div class="col s12 input-field">
                                <i class="material-icons prefix">directions_car</i>
                                <input  type="text" id="car_no" class="validate" name="carnumber" [(ngModel)]="carNumber">
                                <label for="car_no">Enter Car Number </label>
                             </div>
                          </div>


                          <div class="row">
                             <a class="waves-effect waves-light btn indigo" (click)="addCar()">Add Car </a>
{{addstatus}}
						  </div>

                       </div>
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
     <!--  Update car form-->
     <div class="container updatecarform" style="display:none">
        <div class="card">
           <div class="row">
              <form class="col s12">
                 <div class="container">
                    <h3 class="indigo-text">update car</h3>
                    <div class="row">
                       <div class="col s12">

                          <div class="row">
                             <div class="col s12 input-field">
                                <i class="material-icons prefix">directions_car</i>
                                <input type="text" id="car_no_update" name="car_no_update" class="validate" [(ngModel)]="car_no_update">
                                <label for="car_no_update">Enter Car Number</label>
                             </div>
                          </div>
						  <div class="row">
							 <div class="col s12 input-field">
								<i class="material-icons prefix">directions_car</i>
								<input type="text" id="car_id_update" name="car_id_update" class="validate" [(ngModel)]="car_id_update">
								<label for="car_id_update">Enter Car Id</label>
							 </div>
						  </div>
						   <div class="row">
							  <div class="col s12 input-field">
								 <i class="material-icons prefix">mode_edit</i>
								 <input type="text" id="car_aval" name="car_aval" class="validate" [(ngModel)]="car_aval">
								 <label for="car_aval">Enter the Avialability</label>
							  </div>
						   </div>



          <div class="row">
           <a class="waves-effect waves-light btn indigo" (click)="updateCar()">Update Car</a>
{{updatestatus}}
		  </div>
                       </div>
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
     <!-- DELETE  car form -->
     <div class="container deletecarform" style="display:none">
        <div class="card">
           <div class="row">
              <form class="col s12">
                 <div class="container" >
                    <h3 class="indigo-text">Delete car</h3>
                       <div class="col s12 deleteinput">
                          <div class="row">
                             <div class="col s10 input-field">
                                <i class="material-icons prefix">directions_car</i>
                                <input id="car_no_delete" id="car_no_delete" name="car_no_delete" class="validate" [(ngModel)]="car_no_delete">
                                <label for="car_no_delete">Enter Car Number</label>
                             </div>
							 </div>
							 <div class="row">
							  <a class="waves-effect waves-light btn indigo" (click)="deleteCar()">Delete Car</a>
							 {{deletestatus}}
							 </div>
                          </div>

                    </div>

              </form>
           </div>
        </div>
     </div>
  </div>
  <!-- Second Tab  Starts Here -->
  <div id="test3" class="col s12">
     <!-- Card Panel [Author: Akash Chandra]-->
     <div class="row">
        <div class="col s12 m6 l4">
           <div class="card-panel blue darken-3 z-depth-2 userstatcard">
              <div class="row">
                 <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2" style="margin-top: 30%">person</i>
                 </div>
                 <div class="col s9">
                    <div class="card-content white-text">
                       <h4>Total Users</h4>
                       <p>There are currently <b>100000 Users</b>using our app </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col s12 m6 l4" >
           <div class="card-panel blue darken-3 z-depth-3 rentedstatecard" (click)="carstats()">
              <div class="row">
                 <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2" style="margin-top: 30%">directions_car</i>
                 </div>
                 <div class="col s9">
                    <div class="card-content white-text">
                       <h4>Current Cars Booked</h4>
                       <p>At the moment <b>5000</b> had rented our Car </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col s12 m6 l4">
           <div class="card-panel blue darken-3 z-depth-3 topcarstatcard">
              <div class="row">
                 <div class="col s3">
                    <i class="material-icons medium right blue-text text-lighten-2" style="margin-top: 30%">vertical_align_top</i>
                 </div>
                 <div class="col s9">
                    <div class="card-content white-text">
                       <h4>Top Rented Cars</h4>
                       <p>These Cars are Rented  <b>Most</b> often </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="card" >
        <canvas id="myuserstatChart"></canvas>
     </div>
     <div class="card">
        <canvas id="myrentedcarstatChart" style="display:none"></canvas>
     </div>
     <div class="card">
        <canvas id="mytopcarChart" style="display:none"></canvas>
     </div>
  </div>
