
<div class="container">
  <h3 class="indigo-text darken-3">Book Car</h3>

  <div class="row">
    

    <div class="card col s12 m7 l4">
      <div class="card-image waves-effect waves-block waves-light small">
        <img class="activator" src="assets/images/car.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ carName }}<i
          class="material-icons right">more_vert</i></span>
          
          
          
      </div>
      <a href="#" class="btn indigo" style="margin-top:0;margin-bottom:2%;margin-left:0;">Choose Another Car</a>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i
          class="material-icons right">close</i></span>
        <p></p>
      </div>
    </div>
     <!-- <img class="activator" src="assets/images/back.jpg">  -->
     <span class="card-title activator white-text text-darken-4"><i class="material-icons right">more_vert</i></span> 
    

    <div class="col s12 m5 l8 ">				
      <div class="booking-form" style="margin-left:4%;">
        <div class="input-field">
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input black-text darken-3">Origin
            City</label>
        </div>

        <div class="input-field">
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Delivery City</label>
        </div>

        <div>
          <div class="input-field col s6">
            <input type="text" id="date-picker1" class="validate datepicker">
            <label for="date-picker1">Start Date</label>
          </div>

          <div class="input-field col s6">
            <input type="text" id="time-picker1" class="validate timepicker">
            <label for="time-picker1">Start Time</label>
          </div>
        </div>

        <div>
          <div class="input-field col s6">
            <input type="text" id="date-picker2" class="validate datepicker">
            <label for="date-picker2">End Date</label>
          </div>

          <div class="input-field col s6">
            <input type="text" id="time-picker2" class="validate timepicker">
            <label for="time-picker2">End Time</label>
          </div>
        </div>
        <div>
          <h4>
            <p class="Get-Price">
              Cost: <label for="Get-Price">Rs </label>
            </p>
          </h4>
          <a class="waves-effect waves-light btn indigo darken-3">Proceed
            to pay</a>

        </div>

      </div>
    </div>
    
  </div>
</div>